.idea
.DS_Store
*.swp
dist/
bin/
build/

node_modules/
target/

**/*.tsbuildinfo
yarn-error.log*

**/.yarn/*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions

.direnv
